<!DOCTYPE html>
<html>
    <head>
        <title>Shanika's Django Girls blog from SDEV_220</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Shanika's Django Girls Blog from SDEV_220</a></h1>
        </header>

        <article>
            <time>published: 27.07.2022, 00:00</time>
            <h2><a href="">Shanika first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </article>

        <article>
            <time>published: 27.07.2022, 00:00</time>
            <h2><a href="">Shanika second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </article>
    </body>
</html>
<footer>
    
</footer>